@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  user-select: none;
}

.form-control {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  /* border-radius: 4px; */
  box-sizing: border-box;
}

.input-group {
  position: relative;
}

.input-group span {
  position: absolute;
  top: 15px;
  left: 10px;
  color: gray;
}

input[type="text"] {
  padding-left: 30px;
}

.icon-placeholder:not(:placeholder-shown) ~ span {
  display: none;
}
